@model IdentitySample.Models.RoleViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <div class="card" ">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        
                        <div class="col-md-10">
                            <br />
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder="please input a role name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br />
                            <input type="submit" value="Create" class="btn btn-success btn-sm" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            }

            </div>
        </div>
    </div>



           




            <script src="~/Scripts/jquery.validate.js"></script>
