@model IdentitySample.Models.RoleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}








<div class="row">
    <div class="col-lg-6">
        <div class="card" >

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder="input a new name for the role" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br />
                            <input type="submit" value="Save" class="btn btn-warning btn-sm" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-primary btn-sm"})
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            }

            </div>
        </div>
    </div>
            


           




            <script src="~/Scripts/jquery.validate.js"></script>
