
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Report of WSI</strong>
            </div>
            <div class="card-body">
                
                

                <div class="col-lg-6" style="width:41%">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Details</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Stain: @ViewBag.Stain</th>
                                        <th scope="col">Organ: @ViewBag.Organ</th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col">Tissue: @ViewBag.Tissue</th>
                                        <th scope="col">Test: positive</th>

                                    </tr>
                                    <tr>
                                        <th scope="col">Comment</th>
                                        <th scope="col">recomendations...</th>

                                    </tr>
                                    <tr>
                                        <th scope="col">Sharpness Map Legend</th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-danger">R: @ViewBag.R%</span></th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-warning">Y: @ViewBag.Y%</span></th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-success">G: @ViewBag.G%</span></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            <img style="width:200%; height:auto" src="~/TestImg/CMU-1.png" />
                        </div>
                        <button type="button" class="btn btn-danger">Pdf</button>
                    </div>
                </div>

                <iframe style="width:59%; height:760px" src="@ViewBag.ViewerLink"></iframe>


            </div>
        </div>
    </div>

</div>

