
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Report of WSI</strong>
            </div>
            <div class="card-body">
                
                

                <div class="col-lg-6" style="width:41%">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Details</strong>
                        </div>
                        <div class="card-body">
                            <img style="width:200%; height:auto" src="@ViewBag.Img" />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Sharpness Map Legend</th>

                                    </tr>
                                    <tr>
                                        <th scope="col">Blured Area in %</th>

                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-danger">R: @ViewBag.R %</span></th>

                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-warning">Y: @ViewBag.Y %</span></th>

                                    </tr>
                                    <tr>
                                        <th scope="col">Sharp Area in %</span></th>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-success">G: @ViewBag.G %</span></th>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="col">Stain: @ViewBag.Stain</th>
                                        <th scope="col">Organ: @ViewBag.Organ</th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col">Tissue: @ViewBag.Tissue</th>
                                        
                                        @if (ViewBag.Evaluation == true)
                                        {
                                        <th scope="col">Test: positive</th>
                                        }
                                        @if (ViewBag.Evaluation == false)
                                        {
                                            <th scope="col">Test: negative</th>
                                        }

                                    </tr>
                                    <tr>
                                        <th scope="col">Comment</th>
                                        <th scope="col">recomendations...</th>

                                    </tr>
                                    

                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            
                            <table>
                                <tbody>
                                    <tr><th scope="col">Debug Info</th></tr>
                                    <br />
                                    <tr><th scope="col">Red Channel @ViewBag.DebugRed %</th></tr>
                                    <br />
                                    <tr><th scope="col">Blue Channel @ViewBag.DebugBlue %</th></tr>
                                </tbody>
                            </table>
                            <br />
                            <img style="width:200%; height:auto" src="@ViewBag.Debug" />
                        </div>
                        <button type="button" class="btn btn-danger">Pdf</button>
                    </div>
                </div>

                <iframe style="width:59%; height:760px" src="@ViewBag.ViewerLink"></iframe>
 </div>
        </div>
    </div>

</div>

