
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Report of WSI</strong>
            </div>
            <div class="card-body">
                
                
                
                <div class="col-lg-6" style="width:41%" >
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"> Report Details</strong>
                        </div>
                        <div class="card-body" id="content" >
                            <img style="width:200%; height:auto" src="@ViewBag.Img" />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Sharpness Map Legend</th>

                                    </tr>
                                    <tr>
                                        <th scope="col">Blured Area in %</th>

                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-danger">Red: @ViewBag.R %</span></th>

                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-warning">Yellow: @ViewBag.Y %</span></th>

                                    </tr>
                                    <tr>
                                        <th scope="col">Sharp Area in %</span></th>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="badge badge-success">Green: @ViewBag.G %</span></th>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="col">Stain: @ViewBag.Stain</th>
                                        <th scope="col">Organ: @ViewBag.Organ</th>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col">Tissue: @ViewBag.Tissue</th>
                                        
                                        @if (ViewBag.Evaluation == true)
                                        {
                                        <th scope="col">Test: positive</th>
                                        }
                                        @if (ViewBag.Evaluation == false)
                                        {
                                            <th scope="col">Test: negative</th>
                                        }

                                    </tr>
                                    <tr>
                                        <th scope="col">Comment</th>
                                        <th scope="col">recomendations...</th>

                                    </tr>
                                    

                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                            
                            <table>
                                <tbody>
                                    <tr><th scope="col">Debug Info</th></tr>
                                    <br />
                                    <tr><th scope="col">Red Channel @ViewBag.DebugRed %</th></tr>
                                    <br />
                                    <tr><th scope="col">Blue Channel @ViewBag.DebugBlue %</th></tr>
                                </tbody>
                            </table>
                            <br />
                            <img style="width:200%; height:auto" src="@ViewBag.Debug" />
                        


                        </div>
                        <div id="editor"></div>

                        <button type="button" class="btn btn-danger" id="PDF">Pdf</button>
                    </div>
                </div>

                <iframe style="width:59%; height:760px" src="@ViewBag.ViewerLink"></iframe>
 </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.js"></script>
<script>
    //var sharpnessMap = new Image();
        
    //sharpnessMap.src = "";
    var doc = new jsPDF();


    //doc.addImage(sharpnessMap, 'PNG', 45, 45, 150, 150);
    //var sharpnessMap = '@ViewBag.Img';
    doc.setFontSize(28)
    doc.text(20, 20, 'Sharpness Contriol Platform');
    doc.setFontSize(14)
    doc.text(20, 40, 'Stain: ' + '@ViewBag.Stain');
    doc.text(20, 60, 'Organ: ' + '@ViewBag.Organ');
    doc.text(20, 80, 'Tissue: ' + '@ViewBag.Tissue');
    //var evaluation = "";
    
    doc.text(20, 120, 'Sharpness Map Values:');
    doc.text(20, 140, 'Blured Area: ');
    doc.text(20, 160, 'Red: ' + '@ViewBag.R' + ' %');
    doc.text(20, 180, 'Yellow: ' + '@ViewBag.Y' + ' %');
    doc.text(20, 200, 'Sharp Area:');
    doc.text(20, 220, 'Green: ' + '@ViewBag.G' + ' %');
    doc.text(20, 240, 'Debug Info');
    doc.text(20, 260, 'Red channel: ' + '@ViewBag.DebugRed'+' %');
    doc.text(20, 280, 'Blue channel: ' + '@ViewBag.DebugBlue' + ' %');
    //doc.addImage(sharpnessMap, 'PNG', 20, 200, 150, 150);
    
       //doc.text
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };


    $('#PDF').click(function () {
       // doc.fromHTML($('#content').html(), 15, 15, {
       //     'width': 200,
       //     'elementHandlers': specialElementHandlers
        // });

        doc.save('report_scp.pdf');
    });
</script>