@model IdentitySample.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Manage my account";
}






<div class="col-md-6">
    <div class="card">
        <img class="card-img-top" src="~/assets/img/default.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title mb-3"><h2>@ViewBag.Title</h2></h4>
            <p class="card-text">@ViewBag.StatusMessage</p>
            <div class="row">
                <div class="col-md-8">
                   
                    
                    
                    <h4>@User.Identity.Name</h4>
                    <br />
                    
                    <p>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Pick a password", "SetPassword")
                        }
                    </p>
                    
                        
                </div>
            </div>

        </div>
    </div>
</div>











