@model IdentitySample.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card" ">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card-header"><strong>Edit User </strong> </div>
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                       
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        
                        

    @foreach (var item in Model.RolesList)
    {
        <span class=" col-md-10">

            <label class="switch switch-3d switch-danger mr-3">
                <input type="checkbox" name="SelectedRole" value="@item.Value" class="switch-input" />
                <span class="switch-label"></span> <span class="switch-handle"></span>

                @Html.Label(item.Value, new { @class = "control-label" })
            </label>
        </span>

    }
                           
                        
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class = "btn btn-warning btn-sm" />
                            @Html.ActionLink("Back to List", "Index", null, new {@class= "btn btn-primary btn-sm" })
                            <br />
                            <br />
                           
                        </div>
                    </div>
                </div>
                
            }

            
        </div>
    </div>
</div>



        
            <script src="~/Scripts/jquery.validate.js"></script>
